<table width="100%">
    <tbody>
        <tr>
            <td width="75%">
                <h4>{{{header}}}</h4>
            </td>
            <td width="25%">
                <img src="https://upload.wikimedia.org/wikipedia/commons/5/5e/WhatsApp_icon.png" align="right" width="75px" height="75px">
            </td>
        </tr>
    </tbody>
</table>
<br>
<table width="100%">
    <tbody>
        <tr>
            <td width="60%" valign="top">
                <p>{{{whatsapp_inputform}}}</p>
            </td>
            <td width="10%">
            </td>
            <td width="30%" valign="top">
                {{{labelselect}}}
                <ul>
                    {{#userlist}}
                         <li style="color: {{{fontcolor}}}">{{{firstname}}} {{{lastname}}} </li>
                    {{/userlist}}
                </ul>
            </td>
        </tr>
    </tbody>
</table>
<br>
<br>

<table width="100%">
    <tbody>
        <tr>
            <td with="49%" valign="top">
                <h5>{{{placeholders}}}</h5>
                <ul class="flex-fill description-inner">
                    <li>{{{phfirstname}}}</li>
                    <li>{{{phlastname}}}</li>
                    <li>{{{phemail}}}</li>
                    <li>{{{phfullname}}}</li>
                    <li>{{{phshortname}}}</li>
                </ul>
            </td>
            <td with="2%">
            </td>
            <td with="49%" valign="top">
                <h5>{{{textformatting}}}</h5>
                <ul class="flex-fill description-inner">
                    <li>{{{tfbolt}}} <b>Text</b></li>
                    <li>{{{tfitalic}}} <i>Text</i></li>
                    <li>{{{tfstrikethrough}}} <s>Text</s></li>
                    <li>{{{tfmonospace}}} <code>Text</code></li>
                </ul>
            </td>
        </tr>
    </tbody>
</table>


